.banner {
  &__main {
    padding: 3em 9em 1em 9em;
    color: $white;
    background-color: $black;
    width: 100%;

    &--heading {
      @include font-size(65px, 84px, 1px);
      font-weight: 900;
    }

    &--intro {
      @include font-size(18px, 33px, 1px);
      font-weight: 300;
      padding-right: 9em;
    }

    &--projects {
      h3 {
        @include font-size(16px, 33px, 1px);
        font-weight: 100;
        text-transform: uppercase;
        padding: 4em 0 0;
      }
    }
  }

  &__about {
    padding: 3em 15em 1em 10em;
    color: $darkgrey;
    background-color: $white;
    width: 100%;

    &--heading {
      @include font-size(36px, 48px, 1px);
      font-weight: 400;
    }

    &--intro {
      @include font-size(20px, 30px, 1px);
      font-weight: 300;
    }

    &--projects {
      h3 {
        @include font-size(16px, 33px, 1px);
        font-weight: 100;
        text-transform: uppercase;
        padding: 4em 0 0 4em;
      }
    }
  }
}
