.banner {
  padding: 3em 6em 5em 4.5em;
  color: #000000;
  width: 100%;

  h1 {
    font-size: 4.5em;
    font-weight: 900;
  }
}

.admin-intro {
  .welcome-text {
    font-size: 18px;
    width: 60%;
  }
}
