.blog-header {
  padding: 3em 0;

  &__title {
    @include font-size(65px, 84px, 1px);
    font-weight: 900;
  }

  &__subtitle {
    @include font-size(15px, 20px, 1px);
    font-weight: 900;
    text-transform: uppercase;
  }


  &__project-role {
    @include font-size(15px, 20px, 1px);
    margin: 1em 0;

    p {
      margin: 0 0;
    }
  }

  &__main-introduction {
    margin-top: 2em;
  }
}
