.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 0;
  margin-bottom: 3em;
  border-radius: 0;
  border: 0;
}

.card-header {
  display: flex;
  align-items: center;

  &-title {
    margin-bottom: 0;
  }
}

.card-img {
  border: 0;
  border-radius: 0;
  border-style: none;
}

.card-body {
  padding: 5em 4em;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  color: white;
  flex-direction: column;

  .card-main-number {
    font-weight: 300;
    font-size: 13px;
  }

  .card-title {
    font-weight: 300;
    margin-bottom: 1em;
  }
}

.card-date {
  font-size: 13px;
}

.card-main-title {
  font-size: 30px;
}

.card-button {
  cursor: pointer;
  color: #ffffff;
  font-family: var(--font-family-primary);
  font-weight: thin;
  font-size: 14px;
  letter-spacing: 0.15rem;
  padding-top: 1.5rem !important /* @TODO temp !!!*/;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;

  &:hover {
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
  }
}
